<img src="imagens/md-logo.jpg" width="96" height="96" align="left"/>

# Python para Data Science - Exercícios

<font color=blue><b> Bootcamp Minerando Dados</b></font><br>
 www.minerandodados.com.br

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
i = "Eu sou Minerador de Dados!"
print(i)

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [9]:
soma = 2 + 10
subtracao = soma - 2
multiplicacao = subtracao * 2
divisao = subtracao / 2

print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)

3) Imprima o tipo de um determinado valor inteiro.

In [12]:
type(700)

int

4) Converta o valor passado anteriormente para o tipo float

In [18]:
soma = float(soma)
print(soma)
type(soma)

12.0

float

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [19]:
soma = str(soma)
print(soma)
type(soma)

12.0

str

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [22]:
arredondamento = round(2.898)
print(arredondamento)

arredontamento2 = round(2.4545455, 4)
arredontamento2

3

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [33]:
name = "Marcus"

name += "Oliveira"

email, idade = "marcus@predictbox.io", 28

print(name, email, idade, type(name))

MarcusOliveira marcus@predictbox.io 28 <class 'str'>

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [46]:
var = "Python é uma maldição!"
type(var)

print(var[1], type(var))
print(var[:6], type(var))

y <class 'str'>
Python <class 'str'>

In [47]:
len(var)

22

In [49]:
frase2 = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
frase2.count("dados")

2

In [50]:
frase2.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [52]:
frase2.split(",")

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [129]:
idades = [1,2,3,4,5,6,7,8,9]
print(idades[1])

2

In [130]:
len(idades)

9

In [131]:
idades[1] = 10
idades

[1, 10, 3, 4, 5, 6, 7, 8, 9]

In [132]:
print(idades[1:])

[10, 3, 4, 5, 6, 7, 8, 9]

In [133]:
idades.clear()
idades

[]

In [134]:
salarios = [900, 1200, 1500, 800, 12587, 10000]

In [135]:
salarios.count(10000)

1

In [136]:
print(min(salarios), max(salarios))

800 12587

In [137]:
salarios.append(7000)
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [138]:
salarios.extend([999, 3599])
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 7000, 999, 3599]

In [139]:
salarios.index(800)

3

In [143]:
salarios.sort()
salarios

[800, 900, 999, 1200, 1500, 3599, 7000, 10000, 12587]

In [147]:
salarios.sort(reverse = True)
salarios

[12587, 10000, 7000, 3599, 1500, 1200, 999, 900, 800]